@import url(portal.css);
@import url(formulario.css);

:root {
    --cor-de-fundo: linear-gradient(90deg, rgba(3,39,62,1) 0%, rgba(3,35,52,1) 10%, rgba(2,27,43,1) 24%, rgba(2,31,50,1)
    46%, rgba(2,27,43,1) 74%, rgba(3,35,52,1) 86%, rgba(3,39,62,1) 98%);   
    --fonte: "Poppins";
}

.card {
    font-family: var(--fonte);
    font-size: 20px;
    gap: 10px;
    border: solid;
    padding: 10px 8px;
    margin-top: 10px;
}

.form-select {
  margin-right: 1rem; 
}

.form-control {
  margin-right: 1rem;
}

.botao-extras button {
	background: var(--cor-de-fundo);
}

.formulario-pessoa {
    font-family: var(--fonte);
    font-size: 16px;
    margin: 25px 50px 50px 50px;
    border: solid;
    padding: 20px;
}

.botao-formulario {
    font-family: var(--fonte);
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;   
}

.botao-formulario button {
    padding: 10px 20px;
    background: var(--cor-de-fundo);
}

.botao-formulario button:hover {
    background: rgba(3, 39, 62, 0.8); 
}

button {
    cursor: not-allowed;
}