@import url("/css/login.css");

:root {
     --cor-de-fundo: linear-gradient(90deg, rgba(3,39,62,1) 0%, rgba(3,35,52,1) 10%, rgba(2,27,43,1) 24%, rgba(2,31,50,1)
    46%, rgba(2,27,43,1) 74%, rgba(3,35,52,1) 86%, rgba(3,39,62,1) 98%);   
    --cor-botao: #FFC164;
    --color-campos: white;   
    --fonte: "Poppins";
}

body {
    margin: 0;
    font-family: var(--fonte);
    background: var(--cor-de-fundo);
}

.acesso-externo {
    display: flex;
    height: 100vh;
   
}

.form-content {
    width: 50%;
    padding: 1rem;
    background-color: var(--color-campos);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.acesso-externo-form {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.externo-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.externo-logo-img {
    width: 180px; 
    height: auto;
}

.img-section {
    width: 60%;
    overflow: hidden;
}

.img-login {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.externo-form-botao {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
}

.externo-form-botao {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;  
  }
  
 .externo-form-campos {
    margin-bottom: 5px; 
}

.input-login {
    font-size: 12px;
    width: 90%; 
    height: 40px;
    padding: 10px; 
    margin: 10px auto; 
    display: block;
}

.input-botao {
    border-radius: 6px;
    background-color: var(--cor-botao);
    font-family: var(--fonte);
    color: black;
    font-size: 16px;
    padding: 8px 10px;
}

.input-botao:hover,
.btn:hover {
    background-color: var(--cor-botao); 
    color: inherit; 
    border: none; 
}

.btn-extra{
	background-color: var(--cor-botao);
    color: black;	
}

/* PAGINA REGISTRA*/

.acesso-externo-form-registra {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto; 
    padding-top: 50px;
    padding-bottom: 15px; 
    
}

.externo-logo-img-registar {
	width: 180px; 
    margin-left: 30px;
    margin-bottom: 18px; 
}

.externo-form-campos-registrar {
     margin-bottom: 10px; 
     padding-bottom: 8px;  
}


.input-login-registrar {
      height: 30px;
      font-size: 14px; 
      margin-top: 10px;
      width: 60%; 
}
    
.externo-form-botao-registrar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  margin-left: 25px;
  color: black;
  border-radius: 6px;
}

